<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<header>
    <h1>Draw</h1>
</header>
<nav>
    <ul id = "navbar">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Classification</a></li>
        <li><a href="#">Génération</a></li>
        <li><a href="#">Documentation</a></li>
    </ul>
</nav>
<body>
    {% block body %}{% endblock %}
</body>
</html>